---
const title = "Hello soy Alvaro developer";
const color = "#ffffff";

const hobbies = [
  "Programar",
  "gym",
  "leer",
  "jugar clash of clan",
  "comer",
  "dormir",
  "sol",
  "bailar",
  "escuchar musica",
];

const isActive = false;
---

<h1 class={color}>
  {title}
</h1>

<h1>
  {hobbies[0]}
</h1>

<h3>
  {
    isActive ? (
      <h4>El usuario esta activo</h4>
    ) : (
      <h5>El usuario esta inactivo</h5>
    )
  }
</h3>

<ul>
  {
    hobbies.map((hobbie) => (
      <li>
        <h3>{hobbie + " ----- me gusta estas cosas"}</h3>
        <button>LIKE</button>
      </li>
    ))
  }
</ul>

<style>
  body {
    background-color: #13151a;
    color: white;
  }
  h5 {
    color: rgb(226, 43, 43);
  }
  h4 {
    color: rgb(89, 255, 0);
  }
</style>
