---
import Cedula from "../components/Cedula.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Mi Servicios 🚀</title>
  </head>
  <body>
    <h1>Mi servicios 🦕</h1>

    <Cedula
      title="Alvaro Aburto Ocampo"
      txt="Hola Mundo"
      dnei="12356"
    />
    <Cedula title="Aaron Ocampo" txt="Hola Mundo" dnei="12356" />
    <Cedula title="Erick Aburto" txt="Hola Mundo" dnei="12356" />

    <Cedula />

    <style>
      body {
        color: aliceblue;
        background-color: #2a233e;
        font-family:
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          "Segoe UI",
          Roboto,
          Oxygen,
          Ubuntu,
          Cantarell,
          "Open Sans",
          "Helvetica Neue",
          sans-serif;
      }
    </style>
  </body>
</html>
