---
interface Props {
  title?: string;
  txt?: string;
  dnei?: string;
}

const {
  title = "ErrorDev",
  txt = "🦕",
  dnei = "⚔️",
} = Astro.props;
---

<div class="card">
  <h1>{title}</h1>
  <h5><span>DNEI:</span> {dnei}</h5>
  <p>{txt}</p>
  <span>Estudiante en pasantia</span>
</div>

<style>
  .card {
    background: beige;
    border-radius: 8px;
    box-shadow:
      0 2px 4px 0 rgba(70, 38, 213, 0.591),
      0 25px 50px 0 rgba(27, 220, 185, 0.746);
    width: 500px;
    color: black;
    padding: 20px;
    margin-bottom: 5px;
  }
</style>
